.screen-reader-text {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	overflow: hidden;
	position: absolute!important;
	width: 1px;
	word-wrap: normal!important;
	border: 0;
}

header {
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.05);
			box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	line-height: 1;
	width: 100%;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.genesis-nav-menu .menu-item {
	display: block;
	float: none;
	position: relative;
}

.genesis-nav-menu a {
	color:#333;
	display: block;
	font-weight: 400;
	outline-offset: -1px;
	padding-top: 14px;
	padding-bottom: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #6799b2;
	text-decoration: none;
}

.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
	width: 100%;
}

.genesis-nav-menu .sub-menu {
	clear: both;
	display: none;
	left: -9999px;
	margin: 0;
	opacity: 1;
	padding-left: 15px;
	position: static;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	font-size: 16px;
	line-height: 1.5;
	position: relative;
	word-wrap: break-word;
	padding-top: 10px;
	padding-bottom: 10px;
}

.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
	position: relative;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

/* Responsive Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-responsive-menu {
	display: none;
	padding-bottom: 15px;
	position: relative;
}

.menu-toggle,
.sub-menu-toggle {
	background-color: transparent;
	border-width: 0;
	color: #333;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	visibility: visible;
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	background-color: transparent;
	border-width: 0;
	/* color: #6799b2; */
}

.menu-toggle {
	float: right;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px 0;
	position: relative;
	z-index: 1000;
	font-weight: 600;
	cursor: pointer;
	font-size: 14px;
}

/* .menu-toggle.activated::before {
	content: "\f335";
} */

.menu-toggle::before {
	float: left;
	margin-right: 5px;
	position: relative;
	text-rendering: auto;
	top: 1px;
}

.sub-menu-toggle {
	float: right;
	padding: 9px 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.sub-menu .sub-menu-toggle {
	padding: 12px 10px;
}

.sub-menu-toggle::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-transform: rotate( 0 );
	transform:         rotate( 0 );
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.sub-menu-toggle.activated::before {
	-webkit-transform: rotate( 180deg );
	transform:         rotate( 180deg );
}

/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	width: 100%;

	/* uncomment the following if you do not want the expanded menu to push down the content below */
	/* position: absolute;
	top: 80px;
	left: 0;
	padding: 20px;
	background-color: #fff;
	border-bottom: 1px solid #eee; */
}

/* Animated hamburger
--------------------------------------------- */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
	padding: 15px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-transition-property: opacity, -webkit-filter;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	-webkit-transition-duration: 0.15s;
			transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
			transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 10px 0 0 0;
	overflow: visible;
}

.hamburger:hover {
	opacity: 0.7;
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
	 -webkit-transform: scale(0.5);
			transform: scale(0.5);
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 0.15s;
			transition-duration: 0.15s;
	-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}

.hamburger-inner::before {
	top: -10px;
}

.hamburger-inner::after {
	bottom: -10px;
}

/*
* Slider
*/
.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
	top: 10px;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-timing-function: ease;
			transition-timing-function: ease;
	-webkit-transition-duration: 0.15s;
			transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
	top: 20px;
}

.hamburger--slider.activated .hamburger-inner {
	/* background-color: #6799b2; */
	-webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
		  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.activated .hamburger-inner::before {
	-webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
			transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
	opacity: 0;
}

.hamburger--slider.activated .hamburger-inner::after {
	/* background-color: #6799b2; */
	-webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
			transform: translate3d(0, -20px, 0) rotate(-90deg);
}

@media only screen and (min-width: 960px) {

	/* Genesis Menu
	--------------------------------------------- */

	.genesis-nav-menu .menu-item {
		display: inline-block;
	}

	.genesis-nav-menu .menu-item:focus,
	.genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-nav-menu > .menu-bold > a {
		font-weight: 700;
	}

	.genesis-nav-menu > .menu-highlight > a {
		background-color: #333;
		border-radius: 3px;
		color: #fff;
		font-weight: 600;
		margin-left: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.genesis-nav-menu > .menu-highlight > a:hover,
	.genesis-nav-menu > .menu-highlight > a:focus {
		background-color: #0073e5;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu a {
		/* width: 180px; */
		width: 220px;
	}

	.genesis-nav-menu .sub-menu {
		border-top: 1px solid #eee;
		opacity: 0;
		padding-left: 0;
		position: absolute;
		-webkit-transition: opacity .4s ease-in-out;
		transition: opacity .4s ease-in-out;
	}

	.genesis-nav-menu .sub-menu a {
		border: 1px solid #eee;
		border-top: 0;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		/* margin: -46px 0 0 179px; */
		margin: -56px 0 0 219px;
	}

	/* Responsive Menu
	--------------------------------------------- */

	.genesis-responsive-menu {
		display: block;
		padding-top: 15px;
	}

	.menu-toggle,
	.sub-menu-toggle {
		display: none;
		visibility: hidden;
	}

	.menu-item.menu-item-has-children > a > span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}

	.menu-item.menu-item-has-children > a > span:after {
		width: 6px;
		height: 6px;
		margin-left: 8px;
		border-right: 1px solid;
		border-top: 1px solid;
		-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
		content: "";
		display: inline-block;
	}

	.sub-menu .menu-item.menu-item-has-children > a > span {
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
	}

	.sub-menu .menu-item.menu-item-has-children > a > span:after {
		-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
	}

	.sub-menu-toggle::before {
		width: 14px;
		height: 14px;
		font-size: 14px;
	}

	.sub-menu .sub-menu-toggle {
		display: none;
	}

	/* Header Menu
	--------------------------------------------- */

	.nav-primary {
		clear: none;
		float: right;
		width: auto;
		position: static;
		padding: 15px 0;
		border-bottom: none;
		background-color: transparent;
	}

	.nav-primary .genesis-nav-menu a {
		padding-left: 15px;
		padding-right: 15px;
	}

}
